html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: black;
  color: lawngreen;
}

;
.container {
  position: relative;
  width: 90%;
  padding: 0;
  text-align: center;
  margin: 0 auto 0px auto;
}

.gameboard {
  width: 500px;
  height: 400px;
  margin: 25px auto;
}

.gameboard ul {
  position: relative;
  margin: 0;
  left: 4%;
}

.gridrow li {
  display: inline-block;
  border-right: 2px solid lawngreen;
  border-bottom: 2px solid lawngreen;
  height: 150px;
  width: 150px;
  max-height: 150px;
  max-width: 150px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#y1x3,
#y2x3,
#y3x3 {
  border-right: 0;
}

#y3x1,
#y3x2,
#y3x3 {
  border-bottom: 0;
}

.gridrow {
  padding: 0;
}

.square {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125px;
}

.square p {
  margin-top: 5px;
}

#message-area {
  height: 200px;
  width: 50%;
  margin: 50px auto;
  font-family: Arial, Helvetica,sans-serif;
  color: lightskyblue;
  text-align: center;
  padding-top: 50px;
}

.choose {
  border: 1px solid lightgreen;
  margin: 0 30px 0 30px;
  font-size: 100px;
  padding: 0 20px 0 20px;
}

.player {
  color: darkmagenta;
}

.computer {
  color: darkkhaki;
}

CSS

.winrainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.reset-area {
  position: absolute;
  top: 200px;
  left: 10px;
}

.reset-area button {
  width: 100px;
  height: 75px;
  background-color: lightskyblue;
  color: black;
  font-size: 20px;
}